
body {
    font-family: $main-font;
    font-weight: 500;
    color: $text-color;
    background-color: $main-background-color;
    line-height: 1.47;
}

.home {
    font-family: $heading-font;
    font-weight: 900;
    color: white;
}

.project img {
    max-width: 350px;
    max-height: 350px;
}

.background-swap {
    background-color: $secondary-background-color;
}