
body {
    font-family: $main-font;
    font-weight: 500;
    color: $text-color;
    background-color: $main-background-color;
    line-height: 1.47;
    max-width: 1800px;
    margin-right: auto;
    margin-left: auto;
}

.home {
    font-family: $heading-font;
    font-weight: 900;
    color: white;
}

.project img {
    max-width: 250px;
    max-height: 250px;

    @include desktop {
        max-width: 350px;
        max-height: 350px;
    }
}

.background-swap {
    background-color: $secondary-background-color;
}