

// Page color variables

$main-background-color      : whitesmoke;
$secondary-background-color : white;


// Text color variables

$text-color                 : black;

// Font stacks

$main-font                  : 'Raleway', sans-serif;
$heading-font               : 'Playfair Display', serif;

// font-size

$h3                         : 40px;