

// Page color variables

$main-background-color      : #262626;
$secondary-background-color : #333333;


// Text color variables

$text-color                 : white;

// Font stacks

$main-font                  : 'Raleway', sans-serif;
$heading-font               : 'Playfair Display', serif;