.about {
    @include desktop {
        height: 800px;
    }
}
.about h3 {
    font-size: $h3;
    text-align: center;
    margin-top: 150px;
}

.about h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: -30px;
}

.about-flex {
    display: flex;
    justify-content: space-around;

    @include mobileOnly {
        display: inline-block;
    }

    @include desktop {
        height: 500px;
    }
    
}

.me {
    width: 60%;
    margin: 0 auto;

    @include mobileOnly {
        width: 80%;
    }
    @include desktop {
        width: 45%;
    }
}

.skills {
    width: 30%;
    margin: 0 auto;
}

.skills li {
    list-style-type: none;
    width: 100px;
    margin: 0 auto;
    font-weight: 800;
}